<h1><%= @user.username %>'s Profile</h1>

<form method="POST" action="/follow">
  <input type="hidden" value="<%= @user.id %>" name="follow_id">
  <input type="submit" value="Follow">
</form>

<p><b><%= @user.username %>'s Recipes</b></p>
<ul>
  <% @user.recipes.each do |r| %>
    <li><a href="/recipes/<%= r.id %>"><%= r.name %></a></li>
  <% end %>
</ul>