<div id="user_profile">
  <h1><%= @user.username %>'s Profile</h1>

  <h3>Bio</h3>
  <p><%= @user.bio %></p>

  <% if flash(:message) %>
    <%= flash[:message] %>
  <% end %>

  <% if logged_in? %>
    <% if current_user == @user %>

      <sub>This is your Public Page.</sub>
      <sub><a href="/users/<%= @user.slug %>/edit">Edit your profile</a></sub>

    <% elsif !current_user.following.include?(@user) %>

      <form method="POST" action="/follow">
        <input type="hidden" value="<%= @user.id %>" name="follow_id">
        <input type="submit" value="Follow">
      </form>

    <% else %>

      <form method="POST" action="/unfollow">
        <input type="hidden" value="<%= @user.id %>" name="unfollow_id">
        <input type="submit" value="Unfollow">
      </form>
      
    <% end %>
  <% end %>

  <p><b><%= @user.username %>'s Recipes</b></p>
  <ul>
    <% @user.recipes.each do |r| %>
      <li><a href="/recipes/<%= r.id %>"><%= r.name %></a>
      <br>
      <sub><%= r.cook_time %></sub>
      <br>
      <sub><%= r.ingredients.split("*-*-*").join(', ')[0..40] %>...</sub></li>
      <br></br>
    <% end %>
  </ul>
</div>